@model eUseControl.Domain.Entities.Product.ProductTable

@{
     ViewBag.Title = "DeleteProduct";
}

<h1>Delete Product</h1>

@using (Html.BeginForm("DeleteProduct", "Trainer"))
{
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true, "", new { @class = "text-danger" })

     <h3>Are you sure you want to delete this?</h3>
     <div>
          <h4>ProductTable</h4>
          <hr />
          <dl class="row">
               <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
               </dt>
               <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
               </dd>
               <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductCategory)
               </dt>
               <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductCategory)
               </dd>
               <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductPrice)
               </dt>
               <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductPrice)
               </dd>
               <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Level)
               </dt>
               <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Level)
               </dd>
          </dl>

          <input type="hidden" asp-for="ProductId" />
          <input type="submit" value="Delete" class="btn btn-danger" />
          <a asp-action="TrainerPage" class="btn btn-secondary">Cancel</a>
     </div>
}
